<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<persistence version="2.0"-->
             <!--xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
             <!--xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">-->
    <!--<persistence-unit name="appJpaUnit">-->
        <!--<provider>com.orientechnologies.orient.object.jpa.OJPAPersistenceProvider</provider>-->

        <!--&lt;!&ndash; JPA entities must be registered here &ndash;&gt;-->
        <!--<class>com.example.apporientdb.entry.NameBasics</class>-->

        <!--<properties>-->
            <!--<property name="javax.persistence.jdbc.url" value="remote:178.128.58.224/orientdb" />-->
            <!--<property name="javax.persistence.jdbc.user" value="admin" />-->
            <!--<property name="javax.persistence.jdbc.password" value="admin" />-->
            <!--&lt;!&ndash; Register whole package.-->
                             <!--See com.orientechnologies.orient.core.entity.OEntityManager.registerEntityClasses(String) for more details &ndash;&gt;-->
            <!--<property name="com.orientdb.entityClasses" value="com.example.domains" />-->
        <!--</properties>-->
    <!--</persistence-unit>-->
<!--</persistence>-->